body{
    margin: 0;
    padding: 0;
    background: url("https://technext.github.io/Solid-State/assets/images/01_header_image.jpg");
    background-size: % 100%;
}
.blak {
    position: absolute;
    width:100%;
    height:100%;
    background: black;
    opacity:0.6;
}
.r {
    width: 1260px;
    margin-right: 20px;
    height: auto;
    margin: 0 auto;
    position: relative;
}
* {
    font-family: 'Istok Web', sans-serif;
    box-sizing: border-box;
}
.mmenu {
    left: 92%;
    margin-top: 3px;
    margin-right: 8px;
    width: 110px;
    height: 35px;
    color: white;
    font-size: 17px;
    background-color: transparent;
    border: 2px solid white;
    z-index: 1;
    position: fixed;
}
.mmenu:hover {
    cursor: pointer;
    color: gray;
    border-color: gray;
    transition: 1s;
}
.text {
    padding: 10em 0 0em 0;
    height: 80vh;
    color: #ffffff;
}
.all_button {
    width: 137px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    z-index: 1;
    border-radius: 20px;
    margin: 30px auto;
}
.all_button:hover {
    background-color: #52313f;
    border-color: #52313f;
    cursor: pointer;
    transition: 0.5s;
}
#terry {
    width: 100%;
}
.rm {
    width: 1260px;
    margin-right: 20px;
    height: auto;
    margin: 0 auto;
    position: relative;
    background-color: white;
}
.text_two {
    width: 100%;
    text-align: center;
}