body{
    margin: 0;
    padding: 0; 
}
.section {
    
}
#one {
    position: relative;
    width: 100%;
    height: 100vh;
}
.fon {
    width: 100%;
    height: 100vh;
    background: url("https://technext.github.io/Solid-State/assets/images/01_header_image.jpg") no-repeat;
    background-size: 100%;
    position: fixed;
    z-index: 1;  
}

.blak {
    position: absolute;
    width:100%;
    height:90%;
    background: black;
    opacity:0.6;
    z-index: 2;
}
.menu {
    left: 93%;
    margin-right: 8px;
    margin-top: 5px;
    width: 110px;
    height: 35px;
    color: white;
    font-size: 17px;
    background-color: transparent;
    border: 2px solid white;
    z-index: 2;
    position: fixed;
}
.menu:hover {
    cursor: pointer;
    color: gray;
    border-color: gray;
    transition: 1s;
}
.text {
    color: #ffffff;
    position: absolute;
    z-index: 3;
    padding-top: 100px;
    padding-left: 200px;
}
.all_button {
    width: 137px;
    height: 50px;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    z-index: 3;
    border-radius: 20px;
    margin: 30px auto;
}
.all_button:hover {
    background-color: #52313f;
    border-color: #52313f;
    cursor: pointer;
    transition: 0.5s;
}
#two {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: white;
    z-index: 4;
}
/* .text_two {
    width: 1000px;
    flex-wrap: wrap;
    align-content: center;
} */
.Lorem {
    font-size: 21px;
    padding-top: 70px;
    padding-bottom: 60px;
    text-align: right;
}
.irc_mi {
    display: block;
    float: right;
    padding-left: 50px;
}
.Lmore {
    font-size: 14px;
    font-weight: bolder;
    background-color: transparent;
    border-color: transparent;
    height: 25px;
    cursor: pointer;
    float: right;
    
}
.container {
    padding: 50px 367px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tree {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #242d44;
    z-index: 4;
}
.text_tree {
    width: 1000px;
    flex-wrap: wrap;
    align-content: center;
    color: white;
    
}
.Lomore {
    font-size: 14px;
    font-weight: bolder;
    background-color: transparent;
    border-color: transparent;
    height: 25px;
    cursor: pointer;
    float: right; 
    color: #fff;
    text-align: left;
}
.Lorems {
    font-size: 21px;
    padding: 70px 0 40px;
} 
.h3 {
    padding-left: 30px;
}
.h2 {
    text-align: right;
}
.best {
    padding-left: 30px;
}
#four {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #fff;
    z-index: 4;
}
